<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
	<title>年夜饭活动</title>
	<meta name="keywords" content="年夜饭活动" />
	<meta name="description" content="年夜饭活动"/>
	<link href="https://cdn.bootcss.com/Swiper/4.1.0/css/swiper.min.css" rel="stylesheet">
</head>
<body>
	<div id='root'>
		
	</div>
	<script src='https://cdn.bootcss.com/vue/2.5.13/vue.min.js'></script>
	<script src='https://cdn.bootcss.com/axios/0.17.1/axios.min.js'></script>
	<script src='https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js'></script>
	<script src='https://cdn.bootcss.com/Swiper/4.1.0/js/swiper.min.js'></script>
	<script src='https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js'></script>
</body>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?8686c844404cafcf172ba7591add84a3";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</html>